body {
  background-image: linear-gradient(
    0.1deg,
    rgba(7, 200, 129, 1) 30%,
    rgba(7, 200, 129, 0.51) 99.9%
  );
  min-height: 100vh;
  width: 100%;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  font-family: "Arvo", sans-serif;
  text-align: center;
  width: 60vw;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.content .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: black;
}
